body {
    background-color: #030568e5;
    color:white;
}
.word_specing {
    word-spacing: 30px;
    color: red;
}
p {
    width: 750px;
}
h2 {
    color: rgba(5, 199, 5, 0.952);
}
a {
    color: white;
}
.gap {
    word-spacing: 5px;
}