body {
    background: #22396a;
    color: white;
    text-align: center;
}
h2 {
    color: green;
}
.white {
    color: white;
}
.red {
    color: red;
}
.gap {
    word-spacing: 25px;
    text-align: center;
    background-color: #001542;
    height: 30px;
}
div {
    text-align: left;  
}
